Django==3.1
django-allow-cidr==0.3.1
django-filter==2.3.0
django-smart-selects @ git+https://github.com/jazzband/django-smart-selects.git@60022d061be96eacbad21c1f0bafc562c88edb16
djangorestframework==3.11.1
gunicorn==20.0.4
pylint==2.5.3
pylint-django==2.3.0
python-dotenv==0.14.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
whitenoise==5.2.0