Django==3.1
django-allow-cidr==0.3.1
django-filter==2.3.0
django-smart-selects==1.5.9
djangorestframework==3.11.1
gunicorn==20.0.4
pylint==2.5.3
pylint-django==2.3.0
python-dotenv==0.14.0
requests==2.24.0
requests-mock==1.8.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
whitenoise==5.2.0