@import "header.css";
@import "footer.css";

#branding {
  width: 100%;
}

#user-tools a:link,
#user-tools a:visited {
  color: black;
}

#changelist-filter select {
  width: 210px;
}

.model-countylookup {
  display: none;
}

.select2-results__options {
  width: 100%;
}

.select2-container--admin-autocomplete .select2-selection--single {
  background: rgb(221,221,221) !important;
}

#content-main .submit-row a.deletelink {
  height: inherit;
}

#content-main .submit-row a.cancellink {
  float: left;
  background: #bbb;
  border-radius: 4px;
  padding: 10px 15px;
  height: 35px;
  line-height: 15px;
  margin: 0 0 0 5px;
  color: #fff;
}

ul.warninglist {
    margin: 0 0 4px;
    padding: 0;
    color: #ce7c1e !important;
    background: #fff;
}

ul.warninglist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

ul.warninglist li:first-child {
    margin-top: 0;
}

ul.warninglist li a {
    color: inherit;
    text-decoration: underline;
}

td ul.warninglist {
    margin: 0;
    padding: 0;
}

td ul.warninglist li {
    margin: 0;
}


