{% extends "admin/base.html" %}
{% load static %}

{% block title %}NGWMN Monitoring Location Registry Administration{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'uswds/css/uswds.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
    <script src="{% static 'uswds/js/uswds.min.js' %}" type="application/javascript"></script>
{% endblock %}

{% block branding %}
    {% include "partials/header.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}