{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
    <ul>
    {% for row_index, error in errors %}
        <li>In row {{row_index}}
            <ul>
                {% for key, value in error.items %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    <form action="{% url 'admin:bulk_upload' %}" method="post" enctype="multipart/form-data">
        {%  csrf_token %}
        {{ form }}
        <input type="submit" value="Upload Monitoring Locations" />
    </form>
{% endblock %}