{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
    <p>Test content</p>
    <form action="{% url 'admin:fetch_from_nwis' %}" method="post">
        {%  csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.site_no.errors }}
            {{ form.site_no.label_tag }}
            {{ form.site_no }}
        </div>
            <div class="text-bold padding-x-4">
                    {{ form.overwrite.errors }}
                    {{ form.overwrite.label_tag }}
                    {{ form.overwrite }}
            </div>
        <input type="submit" value="Fetch NWIS site" />
    </form>
    <p class="fetch-request-response">
        {{ request_response }}
    </p>
{% endblock %}
